[user]
	email = adri.md.2001@gmail.com
	name = Adri-md-1208
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[core]
	autocrlf = input
