configuration {
  show-icons:      true;
  hide-scrollbar:  true;
  cycle:           false;
  disable-history: false;
  sidebar-mode:    false;
  display-drun: "  ";
  display-run:  "  ";
  display-window: "  ";
  display-file-browser: "  ";
  columns: 1;
  drun-display-format: "{icon} {name}";
  modi: "drun,run,window,filebrowser";
}
